

.noti__Container {
    height: 100vh;
    background: linear-gradient(45deg, #fbda61, #ff5acd);
    overflow: hidden;
}

.user__AllNotifications {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-height: 75vh;
    height: 100%;
    width: 80%;
    background-color: white;
    padding: 0 60px;
    overflow-y: auto;
}

.noti__newMes {
    display: flex;
    gap: 2px;
    margin-top: 20px;
}

.noti__image {
    display: flex;
    align-items: center;
    max-height: 65px;
    height: 100%;
    width: 100%;
    max-width: 65px;
    border-radius: 100%;
    overflow: hidden;
}

.noti__image img {
    height: 100%;
    width: 100%;
}

.noti__message {
    padding: 8px;
    max-width: 500px;
    width: 100%;
    border-radius: 0 10px 10px 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    margin: 0;
}

.noti__message span {
    color: #ffffff;
    cursor: pointer;
}

.noti__back {
    box-sizing: border-box;
    display: flex;
    justify-content: end;
    position: relative;
    letter-spacing: 0.5px;
    margin: 30px 30px 0 0;
    font-size: 20px;
}

.noti__back div {
    font-size: 25px;
    position: relative;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

.noti__back div:after {
    content: "";
    position: absolute;
    background-color: #030102;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.noti__back div:hover {
    color: #fff;
    cursor: pointer;
}

.noti__back div:hover:after {
    width: 100%;
}